name: lab3_part3
prefix: ""

topology:
  nodes:
    router1:
      kind: ceos
      image: ceos:4.34.1F
      startup-config: setup_router1.cfg
      binds:
        - netlab1.pub:/mnt/flash/netlab1.pub

    switch1:
      kind: ceos
      image: ceos:4.34.1F
      startup-config: setup_switch1.cfg
      binds:
        - netlab1.pub:/mnt/flash/netlab1.pub

    switch2:
      kind: ceos
      image: ceos:4.34.1F
      startup-config: setup_switch2.cfg
      binds:
        - netlab1.pub:/mnt/flash/netlab1.pub

    switch3:
      kind: ceos
      image: ceos:4.34.1F
      startup-config: setup_switch3.cfg
      binds:
        - netlab1.pub:/mnt/flash/netlab1.pub
    
    dhcp-server:
      kind: linux
      image: dima/alpine-dhcp:latest
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - setup_dhcp.sh:/tmp/setup.sh
        - netlab1.pub:/tmp/netlab1.pub
        - dhcpd.conf:/tmp/dhcpd.conf
      exec:
        - sh /tmp/setup_ssh.sh
        - cp /tmp/dhcpd.conf /etc/dhcp/dhcpd.conf
        - sh /tmp/setup.sh
        - ip route del default
        - ip route add default via 10.60.0.254

{% for group in range(1, 4) %}{% for host in range(1, 4) %}
    pc{{ group }}{{ host }}:
      kind: linux
      image: dima/alpine-pc:latest
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - netlab1.pub:/tmp/netlab1.pub
      exec:
        - sh /tmp/setup_ssh.sh
        - sh -c 'udhcpc -i eth1 -v -b; (while ! ip a show eth1 | grep -q "inet "; do sleep 1; done; ip route del default; ip route add default via 10.10.0.1) & exit 0'
{% endfor %}{% endfor %}
{% for group in range(1, 4) %}{% for host in range(1, 4) %}
    printer{{ group }}{{ host }}:
      kind: linux
      image: dima/alpine-pc:latest
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - setup_printer.sh:/tmp/setup.sh
        - netlab1.pub:/tmp/netlab1.pub
      exec:
        - sh /tmp/setup_ssh.sh
        - sh -c 'udhcpc -i eth1 -v -b; (while ! ip a show eth1 | grep -q "inet "; do sleep 1; done; ip route del default; ip route add default via 10.20.0.1) & exit 0'
{% endfor %}{% endfor %}
{% for group in range(1, 3) %}{% for host in range(1, 4) %}
    phone{{ group }}{{ host }}:
      kind: linux
      image: dima/alpine-phone
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - setup_phone.sh:/tmp/setup.sh
        - netlab1.pub:/tmp/netlab1.pub
      exec:
        - sh /tmp/setup_ssh.sh
        - sh -c 'udhcpc -i eth1 -v -b; (while ! ip a show eth1 | grep -q "inet "; do sleep 1; done; ip route del default; ip route add default via 10.30.0.1; nohup sh /tmp/setup.sh > /tmp/setup.log 2>&1) & exit 0'
{% endfor %}{% endfor %}
{% for group in range(1, 3) %}{% for host in range(1, 4) %}
    camera{{ group }}{{ host }}:
      kind: linux
      image: dima/alpine-pc:latest
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - setup_camera.sh:/tmp/setup.sh
        - netlab1.pub:/tmp/netlab1.pub
      exec:
        - sh /tmp/setup_ssh.sh
        - sh -c 'udhcpc -i eth1 -v -b; (while ! ip a show eth1 | grep -q "inet "; do sleep 1; done; ip route del default; ip route add default via 10.40.0.1) & exit 0'
{% endfor %}{% endfor %}
{% for host in range(1, 4) %}
    laptop1{{ host }}:
      kind: linux
      image: dima/alpine-pc:latest
      binds:
        - setup_alpine_ssh.sh:/tmp/setup_ssh.sh
        - setup_laptop.sh:/tmp/setup.sh
        - netlab1.pub:/tmp/netlab1.pub
      exec:
        - sh /tmp/setup_ssh.sh
        - sh -c 'udhcpc -i eth1 -v -b; (while ! ip a show eth1 | grep -q "inet "; do sleep 1; done; ip route del default; ip route add default via 10.50.0.1) & exit 0'

{% endfor %}
  links:
    - endpoints: ["router1:eth1","switch2:eth1"]
    - endpoints: ["switch1:eth1","switch2:eth2"]
    - endpoints: ["switch3:eth1","switch2:eth3"]
    - endpoints: ["router1:eth4","dhcp-server:eth1"]
{% for group in range(1, 4) %}{% for i in range(1, 4) %}
    - endpoints: ["switch{{ group }}:eth{{ 2 + 1 +  i}}","pc{{ group }}{{ i }}:eth1"] {% endfor %}{% endfor %}
{% for group in range(1, 4) %}{% for i in range(1, 4) %}
    - endpoints: ["switch{{ group }}:eth{{ 2 + 4 +  i}}","printer{{ group }}{{ i }}:eth1"] {% endfor %}{% endfor %}
{% for group in range(1, 3) %}{% for i in range(1, 4) %}
    - endpoints: ["switch{{ group }}:eth{{ 2 + 7 +  i}}","phone{{ group }}{{ i }}:eth1"] {% endfor %}{% endfor %}
{% for group in range(1, 3) %}{% for i in range(1, 4) %}
    - endpoints: ["switch{{ group }}:eth{{ 2 + 10 +  i}}","camera{{ group }}{{ i }}:eth1"] {% endfor %}{% endfor %}
{% for i in range(1, 4) %}
    - endpoints: ["switch1:eth{{ 2 + 13 +  i}}","laptop1{{ i }}:eth1"] {% endfor %}
